body{
  font-family: 'Kosugi Maru', sans-serif;
}

footer{
  width: 100%;
  padding: 10px;
  text-align: center;
  background: #deb887;
}

.underline{
  border-bottom: grey 1px solid;
}

.jumbotron{
  background: url(../img/headerm.jpg) center no-repeat;
  background-size: cover;
  margin-bottom: 0px;
}

.navbar-custom{
  background-color: #efebe0;
}

.carousel{
  width: 100%;
  margin: auto;
}

.font-coffee{
  color: #deb887;
}

.my-small{
  font-size: 50%;
}

.ggmap{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.ggmap iframe{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
